services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - vpn_network

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    restart: always
    command: uvicorn app.api.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8000:8000"
    networks:
      - vpn_network

  bot:
    build:
      context: .
      dockerfile: Dockerfile.bot
    restart: always
    command: python -m app.bot.main
    volumes:
      - .:/app
    depends_on:
      - api
    env_file:
      - .env
    networks:
      - vpn_network

networks:
  vpn_network:
    driver: bridge
